*{
    margin:0px;
    padding: 0px;
}


input{
    display:block;

}

div#corpo-form{
    background-color: red;
    width: 420px;
    margin: 150px auto 0px auto;
    /* 150 px em cima/Automático do lado/ 0px embaixo/Automático do outro lado*/
}
